category-encoders
simplejson
Cython
ipython
Django==1.11.11
hiredis
numpy
pandas
PyMySQL
python-dateutil
pytz
scikit-learn
scipy
singledispatch
six
sklearn
sklearn-pandas
sklearn2pmml
statsmodels
tornado
tornadis
xgboost
lightgbm
